extends ../layout.jade

block title
  | Schedule Stats

block content
  h1
    block title
  
  ul
    each subset, subsetTitle in eventList.stats
      li
        h3= subsetTitle
        ul
          each stat, statTitle in subset
            li
              h4= statTitle
              - if(typeof(stat) === 'object')
                ul
                  each subStat, subStatKey in stat
                    li
                      h5=subStatKey
                      p= subStat
              - else
                p= stat





