mixin group(group, groupTitle)
  - var id = groupTitle.toLowerCase().replace(/\s+/g, '_');
  div.group(id=id)
    h2=groupTitle

    ul
      each subset, subsetTitle in group
        +subset(subset,subsetTitle)

mixin subset(subset, subsetTitle)
  li.subset
    h3.subset-title= subsetTitle
    ul
      each stat, statTitle in subset
        +stat(stat,statTitle)
        
mixin stat(stat, statTitle)
  li.stat
    h4.stat-title= statTitle
    - if(typeof(stat) === 'object')
      ul
        each subStat, subStatTitle in stat
          +stat(subStat,subStatTitle)
    - else
      p= stat